:root {
  --main-font: Roboto, sans-serif;
  --secondary-font: Raleway, sans-serif;
  --main-color: #212121;
  --secondary-color: #757575;
  --accent-color: #2196F3;
  --overlay-color: rgba(33, 150, 243, 0.9);
  --color-active-icon: #fff;
  --margin-bottom-title: 30px;
  --padding-top-section-mobile: 60px;
  --padding-bottom-section-mobile: 60px;
  --padding-top-section: 94px;
  --padding-bottom-section: 94px;
  --margin-left-top: 30px;
  --margin-botton-top: 30px;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

.address {
  font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
}

a.current {
  color: var(--accent-color);
}

body {
  font-family: var(--main-font);
  color: var(--main-color);
}

.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}

.header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navigation-projects .container {
  display: flex;
  justify-content: center;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
  }
  .footer .container {
    display: flex;
    align-items: baseline;
  }
  .hero .container {
    align-items: center;
  }
  .priorities .container {
    display: flex;
  }
  .team .container,
  .work .container {
    align-items: center;
  }
}

.logo {
  font-size: 24px;
  font-weight: 700;
  line-height: 1.17;
  font-family: var(--secondary-font);
  letter-spacing: 0.03em;
}

.header .logo {
  margin-right: 93px;
}

.logo_theme_dark {
  color: #212121;
}

.logo_theme_light {
  color: #ffffff;
}

.footer-adress__logo .logo {
  width: 154px;
}

.logo__item {
  font-size: 24px;
  font-weight: 700;
  line-height: 1.17;
  font-family: var(--secondary-font);
  letter-spacing: 0.03em;
  color: var(--accent-color);
}

@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
    font-weight: 700;
    line-height: 1.19;
  }
  .logo__item {
    font-size: 26px;
    font-weight: 700;
    line-height: 1.19;
  }
}

.sotial-list__icon {
  fill: #AFB1B8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.sotial-list__link:hover .sotial-list__icon,
.sotial-list__link:focus .sotial-list__icon {
  fill: var(--color-active-icon);
}

.sotial-list {
  display: flex;
  align-items: center;
  justify-content: center;
}

.sotial-list__item:not(:last-child) {
  margin-right: 10px;
}

.sotial-list__link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.sotial-list__link:hover, .sotial-list__link:focus {
  background-color: var(--accent-color);
}

@media screen and (min-width: 1200px) {
  .sotial-list {
    justify-content: space-between;
  }
}

.title {
  font-size: 28px;
  font-weight: 700;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: var(--margin-bottom-title);
}

@media screen and (min-width: 1200px) {
  .title {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.17;
  }
  .clients > .container .title {
    margin-bottom: 50px;
  }
  .team > .container .title,
  .work > .container .title {
    margin-bottom: var(--margin-bottom-title);
  }
}

.address-list {
  margin-bottom: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.address-list__item:not(:last-child) {
  margin-bottom: 8px;
}

.address-list__link {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.address-list__link_theme_light {
  color: #ffffff;
}

.address-list__link_theme_dark {
  color: #ffffff99;
}

@media screen and (min-width: 768px) {
  .address-list {
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .address-list {
    align-items: flex-start;
  }
  .address-list__item:not(:last-child) {
    margin-bottom: 9px;
  }
}

.social-footer {
  width: 206px;
  height: 80px;
  margin: 0 auto;
  margin-bottom: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.social-footer__title {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  font-family: var(--main-font);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 20px;
  display: block;
}

.social-footer__list {
  display: flex;
  align-items: center;
  justify-content: center;
}

.social-footer__item:not(:last-child) {
  margin-right: 10px;
}

.social-footer__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: #ffffff1a;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-footer__link:hover, .social-footer__link:focus {
  background-color: var(--accent-color);
}

.social-footer__icon {
  fill: var(--color-active-icon);
}

@media screen and (min-width: 1200px) {
  .social-footer {
    width: 206px;
    height: 80px;
  }
  .social-footer__title {
    display: flex;
    align-self: flex-start;
  }
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1), pointer-events 250ms cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 999;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 450px;
  height: 609px;
  background: var(--color-active-icon);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.modal__close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
}

.modal__close-icon {
  fill: #000;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__close-btn:hover .modal__close-icon,
.modal__close-btn:focus .modal__close-icon {
  fill: var(--accent-color);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
    height: 581px;
  }
}

.modal-form__field {
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  font-family: var(--main-font);
  font-style: normal;
  letter-spacing: 0.01em;
  color: var(--secondary-color);
  margin-bottom: 10px;
}

.modal-form {
  padding: 40px;
  display: flex;
  flex-direction: column;
}

.modal-form__text {
  font-size: 20px;
  font-weight: 700;
  line-height: 1.5;
  font-family: var(--main-font);
  font-style: normal;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-color);
  margin-bottom: 12px;
}

.modal-form__icon {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  fill: var(--main-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form__input:focus + .modal-form__icon {
  fill: var(--accent-color);
}

.modal-form__input-wrapper {
  position: relative;
}

.modal-form__input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  padding-left: 42px;
  margin-top: 4px;
  cursor: pointer;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form__input:focus {
  outline: none;
  border-color: var(--accent-color);
}

.modal-form__message {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.14;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  margin-top: 4px;
  width: 100%;
  padding: 12px 16px;
  font-family: var(--main-font);
  font-style: normal;
  letter-spacing: 0.01em;
  resize: none;
  cursor: pointer;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form__message::placeholder {
  color: #75757580;
}

.modal-form__message:focus {
  outline: none;
  border-color: var(--accent-color);
}

.modal-form__check-desc {
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  font-family: var(--main-font);
  font-style: normal;
  letter-spacing: 0.03em;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  color: var(--secondary-color);
  margin-bottom: 40px;
}

.modal-form__check-desc::before {
  display: block;
  content: "";
  width: 16px;
  height: 15px;
  border: 2px solid var(--main-color);
  border-radius: 2px;
  cursor: pointer;
  margin-right: 8px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form__term:checked + .modal-form__check-desc::before {
  background-color: var(--accent-color);
  background-image: url(../images/modal-item/choice.svg);
  border: 2px solid transparent;
  background-origin: content-box;
  background-size: contain;
  background-repeat: no-repeat;
}

.modal-form__term:focus + .modal-form__check-desc::before {
  border: 2px solid var(--accent-color);
}

.modal-form__link {
  color: var(--accent-color);
}

.modal-form-button {
  font-size: 16px;
  font-weight: 700;
  line-height: 1.88;
  max-width: 200px;
  height: 50px;
  padding: 10px 55px 10px 56px;
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
  font-family: var(--main-font);
  font-style: normal;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  align-self: center;
  color: var(--color-active-icon);
}

@media screen and (min-width: 1200px) {
  .modal-form__text {
    font-size: 20px;
    font-weight: 700;
    line-height: 1.15;
  }
  .modal-form__check-desc {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.71;
  }
}

.header {
  padding-top: 21px;
  padding-bottom: 21px;
  border-bottom: 1px solid #ECECEC;
}

.header .logo {
  margin-right: 88px;
}

.navigation {
  display: flex;
}

.menu__item:not(:last-child) {
  margin-right: 50px;
}

.menu__link {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-font);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu__link:hover, .menu__link:focus {
  color: var(--accent-color);
}

@media screen and (max-width: 767px) {
  .header {
    padding-top: 16px;
    padding-bottom: 16px;
  }
  .header .logo {
    margin-right: 0px;
  }
  .menu {
    display: none;
  }
  .contact-list {
    display: none;
  }
  .logo {
    width: 134px;
    height: 28px;
  }
  .mobile-menu__close-btn {
    border: none;
    padding: 0;
  }
  .burger-btn {
    background-color: transparent;
    border: none;
    padding: 0;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .burger-btn:hover, .burger-btn:focus {
    fill: var(--accent-color);
    cursor: pointer;
  }
  .burger-btn__icon {
    width: 40px;
    height: 40px;
    background-color: #ffffff;
  }
  .mobile-menu__close-icon {
    fill: var(--main-color);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .mobile-menu__close-icon:focus, .mobile-menu__close-icon:hover {
    fill: var(--accent-color);
  }
  .mobile-menu__close-btn {
    fill: var(--main-color);
    background-color: #fff;
  }
  .mobile-menu__close-btn {
    position: absolute;
    top: 10px;
    right: 15px;
    cursor: pointer;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .mobile-menu__close-btn:hover .mobile-menu__close-icon,
  .mobile-menu__close-btn:focus .mobile-menu__close-icon {
    fill: var(--accent-color);
  }
  .mobile-menu {
    position: fixed;
    top: 0;
    left: 50%;
    width: 100vw;
    max-width: 480px;
    height: 100vh;
    overflow: scroll;
    padding: 48px 40px;
    background-color: #ffffff;
    transform: translateY(-100%) translateX(-50%);
    transition: transform 250ms linear;
  }
  .is-open {
    transform: translateY(0) translateX(-50%);
  }
  .mobile-menu__item:not(:last-child) {
    margin-bottom: 35px;
  }
  .mobile-menu__link {
    font-family: var(--main-font);
    font-size: 40px;
    font-weight: 500;
    line-height: 1.18;
    font-style: normal;
    letter-spacing: 0.02em;
    color: var(--main-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .mobile-menu__link:hover, .mobile-menu__link:focus {
    color: var(--accent-color);
    cursor: pointer;
  }
  .contact-menu__list {
    margin-top: 300px;
  }
  .contact-menu__tel-link {
    color: var(--accent-color);
    font-family: var(--main-font);
    font-size: 34px;
    font-weight: 500;
    line-height: 1.18;
    font-style: normal;
    letter-spacing: 0.02em;
  }
  .contact-menu__mail-link {
    font-family: var(--main-font);
    font-size: 24px;
    font-weight: 500;
    line-height: 1.17;
    font-style: normal;
    letter-spacing: 0.02em;
    color: var(--secondary-color);
  }
  .contact-menu__item:not(:last-child) {
    margin-bottom: 32px;
  }
  .sotial-menu {
    margin-top: 64px;
    display: flex;
  }
  .sotial-menu__link {
    font-family: var(--main-font);
    font-size: 18px;
    font-weight: 500;
    line-height: 1.22;
    font-style: normal;
    letter-spacing: 0.02em;
    cursor: pointer;
    color: var(--accent-color);
  }
  .sotial-menu__item {
    margin-right: 20px;
  }
  .sotial-menu__item:not(:last-child) {
    padding-right: 10px;
    margin-right: 10px;
    border-right: 1px solid rgba(33, 33, 33, 0.2);
  }
}

@media screen and (min-width: 768px) {
  .burger-btn {
    display: none;
  }
  .mobile-menu {
    display: none;
  }
  .menu {
    display: flex;
    align-items: center;
  }
  .menu__link.current {
    position: relative;
    padding-bottom: 32px;
  }
  .menu__link.current::after {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 4px;
    left: 0;
    bottom: 0;
    background: var(--accent-color);
    border-radius: 2px;
  }
  .contact-list__icon {
    margin-right: 10px;
    fill: var(--secondary-color);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .contact-list__link:hover .contact-list__icon,
  .contact-list__link:focus .contact-list__icon {
    fill: var(--accent-color);
  }
  .contact-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .contact-list__item:not(:last-child) {
    margin-right: 30px;
  }
  .contact-list__link {
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--secondary-color);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .contact-list__link:hover, .contact-list__link:focus {
    color: var(--accent-color);
  }
}

@media screen and (max-width: 1199px) {
  .contact-list__item:not(:last-child) {
    margin-bottom: 10px;
    margin-right: 0px;
  }
  .menu__link.current::after {
    bottom: -1px;
  }
}

@media screen and (min-width: 1200px) {
  .header {
    padding-top: 24px;
    padding-bottom: 25px;
  }
  .contact-list__item:not(:last-child) {
    margin-right: 30px;
  }
  .contact-list {
    display: flex;
    flex-direction: row;
    margin-left: auto;
  }
  .contact-list__link {
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14;
  }
  .menu__link.current {
    position: relative;
    padding-bottom: 32px;
  }
  .menu__link.current::after {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 4px;
    left: 0;
    bottom: 0;
    background: var(--accent-color);
    border-radius: 2px;
  }
}

.hero {
  padding-top: 118px;
  padding-bottom: 118px;
  background: #2F303A;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-banner/mobile/hero-banner-mobile.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero__title {
  font-size: 26px;
  font-weight: 900;
  line-height: 1.62;
  max-width: 360px;
  margin: 0 auto 30px;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #FFFFFF;
}

.button {
  font-size: 16px;
  font-weight: 700;
  line-height: 1.88;
  min-width: 200px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #FFFFFF;
  background: var(--accent-color);
  cursor: pointer;
  margin: 0 auto;
  border: none;
  border-radius: 4px;
  padding: 10px 30px 10px 30px;
}

.button:hover, .button:focus {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 320px), screen and (min-resolution: 192dpi) and (min-width: 320px), screen and (min-resolution: 2dppx) and (min-width: 320px) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-banner/mobile/2x/hero-banner-mobile@2x.jpg);
  }
}

@media screen and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-banner/tablet/hero-banner-tablet.jpg);
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 768px), screen and (min-resolution: 192dpi) and (min-width: 768px), screen and (min-resolution: 2dppx) and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-banner/tablet/2x/hero-banner-tablet@2x.jpg);
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    padding-top: 200px;
    padding-bottom: 210px;
    max-width: 1600px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-banner/desktop/hero-banner-desktop.jpg);
  }
  .hero .hero__title {
    font-size: 44px;
    font-weight: 900;
    line-height: 1.36;
    max-width: 696px;
    margin: 0 auto 30px;
  }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 1200), screen and (min-resolution: 192dpi) and (min-width: 1200), screen and (min-resolution: 2dppx) and (min-width: 1200px) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-banner/desktop/2x/hero-banner-desktop@2x.jpg);
  }
}

.priorities {
  padding-top: var(--padding-top-section-mobile);
  padding-bottom: var(--padding-top-section-mobile);
}

.priorities-list__item:not(:last-child) {
  margin-bottom: 30px;
}

.priorities-list__div-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #F5F4FA;
  border-radius: 4px;
  max-width: 450px;
  height: 120px;
  margin-bottom: 30px;
}

.priorities-list__title {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.priorities-list__description {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
}

@media screen and (min-width: 768px) {
  .priorities {
    min-width: 450px;
  }
  .priorities-list__item:not(:last-child) {
    margin-bottom: 0;
  }
  .priorities-list__title {
    text-align: start;
  }
  .priorities-list__div-icon {
    width: 354px;
    height: 120px;
    margin-bottom: 30px;
  }
  .priorities-list {
    display: flex;
    flex-wrap: wrap;
    margin-left: calc(-1 * var(--margin-left-top));
    margin-top: calc(-1 * var(--margin-left-top));
  }
  .priorities-list__item {
    flex-basis: calc(100% / 2 - var(--margin-left-top));
    margin-left: var(--margin-left-top);
    margin-top: var(--margin-left-top);
  }
}

@media screen and (min-width: 1200px) {
  .priorities {
    padding-top: var(--padding-top-section);
    padding-bottom: 47px;
  }
  .priorities-list {
    display: flex;
    flex-wrap: nowrap;
    margin-left: calc(-1 * var(--margin-left-top));
    margin-top: calc(-1 * var(--margin-left-top));
  }
  .priorities-list__div-icon {
    width: 270px;
    height: 120px;
    margin-bottom: 30px;
  }
  .priorities-list__title {
    font-size: 14px;
    font-weight: 700;
    line-height: 1.14;
  }
  .priorities-list__item {
    flex-basis: calc(100% / 3 - var(--margin-left-top));
    margin-left: var(--margin-left-top);
    margin-top: var(--margin-left-top);
  }
}

@media screen and (max-width: 1200px) {
  .work {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .work {
    padding-top: 47px;
    padding-bottom: var(--padding-bottom-section);
  }
  .work-list {
    display: flex;
    flex-wrap: wrap;
    margin-left: calc(-1 * var(--margin-left-top));
    margin-top: calc(-1 * var(--margin-left-top));
  }
  .work-list__item {
    flex-basis: calc(100% / 3 - var(--margin-left-top));
    margin-left: var(--margin-left-top);
    margin-top: var(--margin-left-top);
    position: relative;
  }
  .work-list__item-description {
    font-size: 14px;
    font-weight: 700;
    line-height: 1.14;
    font-family: var(--main-font);
    font-style: normal;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--color-active-icon);
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    padding-top: 27px;
    padding-bottom: 27px;
    background: rgba(47, 48, 58, 0.8);
  }
}

.team {
  background: #F5F4FA;
  padding-top: var(--padding-top-section-mobile);
  padding-bottom: var(--padding-bottom-section-mobile);
}

.human__name {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
}

.human__position {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
  margin-bottom: 16px;
}

.human__box {
  padding-top: 30px;
  padding-bottom: 30px;
}

@media screen and (max-width: 767px) {
  .human {
    background: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
  }
  .human:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .team-list {
    display: flex;
    flex-wrap: wrap;
    margin-left: calc(-1 * var(--margin-left-top));
    margin-top: calc(-1 * var(--margin-left-top));
  }
  .human {
    flex-basis: calc(100% / 2 - var(--margin-left-top));
    margin-left: var(--margin-left-top);
    margin-top: var(--margin-left-top);
    background: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
  }
}

@media screen and (min-width: 1200px) {
  .team {
    padding-top: var(--padding-top-section);
    padding-bottom: var(--padding-bottom-section);
  }
  .team-list {
    display: flex;
    flex-wrap: wrap;
    margin-left: calc(-1 * var(--margin-left-top));
    margin-top: calc(-1 * var(--margin-left-top));
  }
  .human {
    flex-basis: calc(100% / 4 - var(--margin-left-top));
    margin-left: var(--margin-left-top);
    margin-top: var(--margin-left-top);
    background: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
  }
  .human__box {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 32px;
    padding-right: 32px;
  }
}

.clients {
  padding-top: var(--padding-top-section-mobile);
  padding-bottom: var(--padding-bottom-section-mobile);
}

.clients-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: calc(-1 * var(--margin-left-top));
  margin-top: calc(-1 * var(--margin-left-top));
}

.clients-list__item {
  width: 210px;
  height: 92px;
  flex-basis: calc(100% / 2 - var(--margin-left-top));
  margin-left: var(--margin-left-top);
  margin-top: var(--margin-left-top);
}

.clients-list__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border: 1px solid #AFB1B8;
  border-radius: 4px;
  transition: borderl 250ms cubic-bezier(0.4, 0, 0.2, 1), border-radius 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-list__link:focus, .clients-list__link:hover {
  border: 1px solid var(--accent-color);
  border-radius: 4px;
}

.clients-list__icon {
  fill: #AFB1B8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-list__link:focus .clients-list__icon,
.clients-list__link:hover .clients-list__icon {
  fill: var(--accent-color);
}

@media screen and (min-width: 768px) {
  .clients-list__item {
    width: 226px;
    height: 92px;
    flex-basis: calc(100% / 3 - var(--margin-left-top));
  }
}

@media screen and (min-width: 1200px) {
  .clients {
    padding-top: var(--padding-top-section);
    padding-bottom: var(--padding-bottom-section);
  }
  .clients-list__item {
    width: 170px;
    height: 90px;
    flex-basis: calc(100% / 6 - var(--margin-left-top));
  }
}

.navigation-projects {
  padding-top: var(--padding-top-section-mobile);
  padding-bottom: var(--padding-bottom-section-mobile);
}

.navigation-projects__list {
  display: flex;
  margin-bottom: 40px;
  flex-wrap: wrap;
  justify-content: start;
}

.navigation-projects__item:not(:last-child) {
  margin-right: 8px;
}

.navigation-projects__item:nth-child(-n +3) {
  margin-bottom: 15px;
}

.navigation-projects__button {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.63;
  min-width: 73px;
  text-align: center;
  letter-spacing: 0.03em;
  cursor: pointer;
  background: #F5F4FA;
  border-radius: 4px;
  border: none;
  padding: 6px 22px 6px 22px;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), cursor 250ms cubic-bezier(0.4, 0, 0.2, 1), border-radius 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation-projects__button:hover, .navigation-projects__button:focus {
  color: #ffffff;
  background: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

@media screen and (min-width: 768px) {
  .navigation-projects__list {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) and (min-width: 1200px) {
  .navigation-projects {
    padding-top: var(--padding-top-section);
    padding-bottom: var(--padding-bottom-section);
  }
  .navigation-projects__list {
    margin-bottom: 56px;
  }
}

.projects-list {
  display: flex;
  flex-wrap: wrap;
}

.projects-list__item {
  background: #FFFFFF;
  position: relative;
}

.projects-list__item:focus, .projects-list__item:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.projects-list__wrapper {
  padding: 20px 24px 20px 24px;
  background: #FFFFFF;
  border: 1px solid #EEEEEE;
  box-sizing: border-box;
}

.projects-list__name-project {
  font-size: 18px;
  font-weight: 700;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
  color: var(--main-color);
}

.projects-list__style-project {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
}

.overlay {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.56;
  position: absolute;
  top: 0;
  left: 0;
  background: var(--overlay-color);
  font-family: var(--main-font);
  letter-spacing: 0.03em;
  color: var(--color-active-icon);
  padding: 63px 24px 63px 24px;
  height: 100%;
  width: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.projects-list__link:hover .overlay,
.projects-list__link:focus .overlay {
  transform: translateY(0%);
}

.projects-list__image {
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 767px) {
  .projects-list__item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .projects-list {
    margin-left: calc(-1 * var(--margin-left-top));
    margin-top: calc(-1 * var(--margin-left-top));
  }
  .projects-list__item {
    flex-basis: calc(100% / 2 - var(--margin-left-top));
    margin-left: var(--margin-left-top);
    margin-top: var(--margin-left-top);
  }
  .projects-list__wrapper.wrapper {
    height: 146px;
  }
}

@media screen and (min-width: 1200px) {
  .projects-list {
    margin-left: calc(-1 * var(--margin-left-top));
    margin-top: calc(-1 * var(--margin-left-top));
  }
  .projects-list__item {
    flex-basis: calc(100% / 3 - var(--margin-left-top));
    margin-left: var(--margin-left-top);
    margin-top: var(--margin-left-top);
  }
  .projects-list__wrapper.wrapper {
    height: 110px;
  }
}

.footer {
  padding-top: var(--padding-top-section-mobile);
  padding-bottom: var(--padding-bottom-section-mobile);
  background: #2F303A;
}

.footer-adress {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footer-adress__logo {
  margin-bottom: 20px;
}

@media screen and (min-width: 768px) {
  .footer-adress {
    margin-left: 61px;
    margin-right: 165px;
    width: 232px;
  }
  .footer__container-wrapper {
    display: flex;
    align-items: baseline;
  }
  .footer {
    min-height: 463px;
  }
}

@media screen and (min-width: 1200px) {
  .footer {
    padding-top: 60px;
    padding-bottom: 60px;
    min-height: 252px;
  }
  .footer-adress {
    margin-left: 0px;
    margin-right: 70px;
    align-items: flex-start;
  }
}

.subscription {
  flex-direction: column;
  align-items: center;
}

.subscription__title {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--main-font);
  font-style: normal;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--color-active-icon);
  margin-bottom: 20px;
}

.subscription__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.subscription__input {
  display: inline-block;
  width: 100%;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;
  padding-left: 16px;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.25;
  font-family: var(--main-font);
  font-style: normal;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  cursor: pointer;
  color: var(--color-active-icon);
}

.subscription__input::placeholder {
  color: rgba(255, 255, 255, 0.6);
}

@media screen and (max-width: 1199px) {
  .subscription__input {
    max-width: 450px;
    margin-bottom: 20px;
  }
}

.subscription__btn {
  position: relative;
  width: 200px;
  height: 50px;
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding-left: 29px;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.88;
  font-family: var(--main-font);
  font-style: normal;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--color-active-icon);
  cursor: pointer;
}

.subscription__btn::after {
  content: "";
  display: inline-block;
  margin-left: 10px;
  width: 24px;
  height: 24px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  background-image: url(../images/icon/send.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-origin: border-box;
}

@media screen and (min-width: 768px) {
  .subscription {
    width: 768px;
    height: 86px;
  }
}

@media screen and (min-width: 1200px) {
  .subscription {
    width: 570px;
    height: 86px;
    margin-left: auto;
    display: block;
  }
  .subscription__title {
    display: block;
  }
  .subscription__input {
    width: 358px;
    padding-left: 16px;
    margin-right: 12px;
  }
  .subscription__form {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: start;
  }
  .subscription__btn {
    position: relative;
    width: 200px;
    height: 50px;
    background: var(--accent-color);
    padding-left: 29px;
  }
}
/*# sourceMappingURL=main.css.map */