:root {
  --main-font: Roboto, sans-serif;
  --secondary-font: Raleway, sans-serif;
  --main-color: #212121;
  --secondary-color: #757575;
  --accent-color: #2196F3;
  --overlay-color: rgba(33, 150, 243, 0.9);
  --color-active-icon: #fff;
  --margin-bottom-title: 50px;
  --padding-top-section: 94px;
  --padding-bottom-section: 94px;
  --margin-left-top: 30px;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

.address {
  font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
}

a.current {
  color: var(--accent-color);
}

body {
  font-family: var(--main-font);
  color: var(--main-color);
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.footer .container {
  display: flex;
  align-items: baseline;
}

.header .container {
  display: flex;
  align-items: center;
}

.hero .container {
  align-items: center;
}

.navigation-projects .container {
  display: flex;
  justify-content: center;
}

.priorities .container {
  display: flex;
}

.team .container,
.work .container {
  align-items: center;
}

.logo {
  font-size: 26px;
  font-weight: 700;
  line-height: 1.19;
  font-family: var(--secondary-font);
  letter-spacing: 0.03em;
}

.header .logo {
  margin-right: 93px;
}

.logo_theme_dark {
  color: #212121;
}

.logo_theme_light {
  color: #ffffff;
}

.logo__item {
  font-size: 26px;
  font-weight: 700;
  line-height: 1.19;
  font-family: var(--secondary-font);
  letter-spacing: 0.03em;
  color: var(--accent-color);
}

.sotial-list__icon {
  fill: #AFB1B8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.sotial-list__link:hover .sotial-list__icon,
.sotial-list__link:focus .sotial-list__icon {
  fill: var(--color-active-icon);
}

.sotial-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sotial-list__link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.sotial-list__link:hover, .sotial-list__link:focus {
  background-color: var(--accent-color);
}

.title {
  font-size: 36px;
  font-weight: 700;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}

.clients > .container .title {
  margin-bottom: 50px;
}

.team > .container .title,
.work > .container .title {
  margin-bottom: var(--margin-bottom-title);
}

.address-list {
  margin-top: 20px;
}

.address-list__item:not(:last-child) {
  margin-bottom: 9px;
}

.address-list__link {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.address-list__link_theme_light {
  color: #ffffff;
}

.address-list__link_theme_dark {
  color: #ffffff99;
}

.social-footer {
  width: 206px;
  height: 80px;
}

.social-footer__title {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  font-family: Roboto;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 20px;
  display: block;
}

.social-footer__list {
  display: flex;
  align-items: center;
  justify-content: center;
}

.social-footer__item:not(:last-child) {
  margin-right: 10px;
}

.social-footer__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: #ffffff1a;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-footer__link:hover, .social-footer__link:focus {
  background-color: var(--accent-color);
}

.social-footer__icon {
  fill: var(--color-active-icon);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1), pointer-events 250ms cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 999;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 528px;
  height: 581px;
  background: var(--color-active-icon);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.modal__close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
}

.modal__close-icon {
  fill: #000;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__close-btn:hover .modal__close-icon,
.modal__close-btn:focus .modal__close-icon {
  fill: var(--accent-color);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal-form__field {
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
  font-family: var(--main-font);
  font-style: normal;
  letter-spacing: 0.01em;
  color: var(--secondary-color);
  margin-bottom: 10px;
}

.modal-form {
  padding: 40px;
  display: flex;
  flex-direction: column;
}

.modal-form__text {
  font-size: 20px;
  font-weight: 700;
  line-height: 1.15;
  font-family: var(--main-font);
  font-style: normal;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-color);
  margin-bottom: 12px;
}

.modal-form__icon {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  fill: var(--main-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form__input:focus + .modal-form__icon {
  fill: var(--accent-color);
}

.modal-form__input-wrapper {
  position: relative;
}

.modal-form__input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  padding-left: 42px;
  margin-top: 4px;
  cursor: pointer;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form__input:focus {
  outline: none;
  border-color: var(--accent-color);
}

.modal-form__message {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.14;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  margin-top: 4px;
  width: 100%;
  padding: 12px 16px;
  font-family: var(--main-font);
  font-style: normal;
  letter-spacing: 0.01em;
  resize: none;
  cursor: pointer;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form__message::placeholder {
  color: #75757580;
}

.modal-form__message:focus {
  outline: none;
  border-color: var(--accent-color);
}

.modal-form__check-desc {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  font-family: var(--main-font);
  font-style: normal;
  letter-spacing: 0.03em;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  color: var(--secondary-color);
  margin-bottom: 40px;
}

.modal-form__check-desc::before {
  display: block;
  content: "";
  width: 16px;
  height: 15px;
  border: 2px solid var(--main-color);
  border-radius: 2px;
  cursor: pointer;
  margin-right: 8px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form__term:checked + .modal-form__check-desc::before {
  background-color: var(--accent-color);
  background-image: url(../images/modal-item/choice.svg);
  border: 2px solid transparent;
  background-origin: content-box;
  background-size: contain;
  background-repeat: no-repeat;
}

.modal-form__term:focus + .modal-form__check-desc::before {
  border: 2px solid var(--accent-color);
}

.modal-form__link {
  color: var(--accent-color);
}

.modal-form-button {
  font-size: 16px;
  font-weight: 700;
  line-height: 1.88;
  max-width: 200px;
  height: 50px;
  padding: 10px 55px 10px 56px;
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
  font-family: var(--main-font);
  font-style: normal;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  align-self: center;
  color: var(--color-active-icon);
}

.header {
  padding-top: 24px;
  padding-bottom: 25px;
  border-bottom: 1px solid #ECECEC;
}

.navigation {
  display: flex;
}

.menu {
  display: flex;
  align-items: center;
}

.menu__item:not(:last-child) {
  margin-right: 50px;
}

.menu__link {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-font);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu__link:hover, .menu__link:focus {
  color: var(--accent-color);
}

.contact-list__item:not(:last-child) {
  margin-right: 30px;
}

.contact-list {
  display: flex;
  margin-left: auto;
}

.contact-list__icon {
  margin-right: 10px;
  fill: var(--secondary-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-list__link:hover .contact-list__icon,
.contact-list__link:focus .contact-list__icon {
  fill: var(--accent-color);
}

.contact-list__link {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--secondary-color);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-list__link:hover, .contact-list__link:focus {
  color: var(--accent-color);
}

.menu__link.current {
  position: relative;
  padding-bottom: 32px;
}

.menu__link.current::after {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 4px;
  left: 0;
  bottom: 0;
  background: var(--accent-color);
  border-radius: 2px;
}

.hero {
  padding-top: 200px;
  padding-bottom: 210px;
  background: #2F303A;
  margin: 0 auto;
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/main-logo/logo.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero__title {
  font-size: 44px;
  font-weight: 900;
  line-height: 1.36;
  max-width: 696px;
  margin: 0 auto 30px;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #FFFFFF;
}

.button {
  font-size: 16px;
  font-weight: 700;
  line-height: 1.88;
  min-width: 200px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #FFFFFF;
  background: var(--accent-color);
  cursor: pointer;
  margin: auto;
  border: none;
  border-radius: 4px;
  padding: 10px 32px 10px 32px;
}

.button:hover, .button:focus {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.priorities {
  padding-top: var(--padding-top-section);
  padding-bottom: 47px;
}

.priorities-list {
  display: flex;
  margin-left: calc(-1 * var(--margin-left-top));
  margin-top: calc(-1 * var(--margin-left-top));
}

.priorities-list__div-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #F5F4FA;
  border-radius: 4px;
  width: 270px;
  height: 120px;
  margin-bottom: 30px;
}

.priorities-list__title {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.priorities-list__description {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
}

.priorities-list__item {
  flex-basis: calc(100% / 3 - var(--margin-left-top));
  margin-left: var(--margin-left-top);
  margin-top: var(--margin-left-top);
}

.work {
  padding-top: 47px;
  padding-bottom: var(--padding-bottom-section);
}

.work-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: calc(-1 * var(--margin-left-top));
  margin-top: calc(-1 * var(--margin-left-top));
}

.work-list__item {
  flex-basis: calc(100% / 3 - var(--margin-left-top));
  margin-left: var(--margin-left-top);
  margin-top: var(--margin-left-top);
  position: relative;
}

.work-list__item-description {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  font-family: var(--main-font);
  font-style: normal;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--color-active-icon);
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  padding-top: 27px;
  padding-bottom: 27px;
  background: rgba(47, 48, 58, 0.8);
}

.team {
  background: #F5F4FA;
  padding-top: var(--padding-top-section);
  padding-bottom: var(--padding-bottom-section);
}

.human__name {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
}

.human__position {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
  margin-bottom: 16px;
}

.team-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: calc(-1 * var(--margin-left-top));
  margin-top: calc(-1 * var(--margin-left-top));
}

.human {
  flex-basis: calc(100% / 4 - var(--margin-left-top));
  margin-left: var(--margin-left-top);
  margin-top: var(--margin-left-top);
  background: #FFFFFF;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.human__box {
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 32px;
  padding-right: 32px;
}

.clients {
  padding-top: var(--padding-top-section);
  padding-bottom: var(--padding-bottom-section);
}

.clients-list {
  display: flex;
  margin-left: calc(-1 * var(--margin-left-top));
  margin-top: calc(-1 * var(--margin-left-top));
}

.clients-list__item {
  width: 170px;
  height: 90px;
  flex-basis: calc(100% / 6 - var(--margin-left-top));
  margin-left: var(--margin-left-top);
  margin-top: var(--margin-left-top);
}

.clients-list__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border: 1px solid #AFB1B8;
  border-radius: 4px;
  transition: borderl 250ms cubic-bezier(0.4, 0, 0.2, 1), border-radius 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-list__link:focus, .clients-list__link:hover {
  border: 1px solid var(--accent-color);
  border-radius: 4px;
}

.clients-list__icon {
  fill: #AFB1B8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-list__link:focus .clients-list__icon,
.clients-list__link:hover .clients-list__icon {
  fill: var(--accent-color);
}

.navigation-projects {
  padding-top: var(--padding-top-section);
  padding-bottom: var(--padding-bottom-section);
}

.navigation-projects__list {
  display: flex;
  margin-bottom: 56px;
}

.navigation-projects__item:not(:last-child) {
  margin-right: 8px;
}

.navigation-projects__button {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.63;
  min-width: 73px;
  text-align: center;
  letter-spacing: 0.03em;
  cursor: pointer;
  background: #F5F4FA;
  border-radius: 4px;
  border: none;
  padding: 6px 22px 6px 22px;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), cursor 250ms cubic-bezier(0.4, 0, 0.2, 1), border-radius 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation-projects__button:hover, .navigation-projects__button:focus {
  color: #ffffff;
  background: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.projects-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: calc(-1 * var(--margin-left-top));
  margin-top: calc(-1 * var(--margin-left-top));
}

.projects-list__item {
  flex-basis: calc(100% / 3 - var(--margin-left-top));
  margin-left: var(--margin-left-top);
  margin-top: var(--margin-left-top);
  background: #FFFFFF;
  position: relative;
}

.projects-list__item:focus, .projects-list__item:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.projects-list__wrapper {
  padding: 20px 24px 20px 24px;
  background: #FFFFFF;
  border: 1px solid #EEEEEE;
  box-sizing: border-box;
}

.projects-list__name-project {
  font-size: 18px;
  font-weight: 700;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
  color: var(--main-color);
}

.projects-list__style-project {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  background: var(--overlay-color);
  font-weight: 400;
  font-family: var(--main-font);
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--color-active-icon);
  padding: 63px 24px 63px 24px;
  height: 100%;
  width: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.projects-list__link:hover .overlay,
.projects-list__link:focus .overlay {
  transform: translateY(0%);
}

.projects-list__image {
  position: relative;
  overflow: hidden;
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background: #2F303A;
}

.footer-adress {
  margin-right: 70px;
}

.subscription {
  width: 570px;
  height: 86px;
  margin-left: auto;
}

.subscription__title {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  display: block;
  font-family: var(--main-font);
  font-style: normal;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--color-active-icon);
  margin-bottom: 20px;
}

.subscription__form {
  display: flex;
  align-items: center;
  justify-content: center;
}

.subscription__input {
  display: inline-block;
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;
  padding-left: 16px;
  margin-right: 12px;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.25;
  font-family: var(--main-font);
  font-style: normal;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  cursor: pointer;
  color: var(--color-active-icon);
}

.subscription__input::placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.subscription__btn {
  position: relative;
  width: 200px;
  height: 50px;
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding-left: 29px;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.88;
  font-family: var(--main-font);
  font-style: normal;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--color-active-icon);
  cursor: pointer;
}

.subscription__btn::after {
  content: "";
  display: inline-block;
  margin-left: 10px;
  width: 24px;
  height: 24px;
  background-image: url(../images/icon/send.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-origin: border-box;
}
/*# sourceMappingURL=main.css.map */