.hero {
    padding-top: 200px;
    padding-bottom: 210px;
    background: #2F303A;
    margin: 0 auto;
    max-width: 1600px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
    background-image: linear-gradient(to right,
            rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)),
        url(../images/main-logo/logo.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.hero__title {
    @include font(44px, 900, 60px);
    max-width: 696px;
    margin: 0 auto 30px;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #FFFFFF;
}

.button {
    @include font(16px, 700, 30px);
    min-width: 200px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    background: var(--accent-color);
    cursor: pointer;
    margin: auto;
    border: none;
    border-radius: 4px;
    padding: 10px 32px 10px 32px;

    &:hover,
    &:focus {
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    }
}