.subscription {
    width: 570px;
    height: 86px;
    margin-left: auto;
}

.subscription__title {
    @include font(14px, 700, 16px);
    display: block;
    font-family: var(--main-font);
    font-style: normal;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--color-active-icon);
    margin-bottom: 20px;
}

.subscription__form {
    display: flex;
    align-items: center;
    justify-content: center;
}


.subscription__input {
    display: inline-block;
    width: 358px;
    height: 50px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-sizing: border-box;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background-color: transparent;
    padding-left: 16px;
    margin-right: 12px;

    @include font(16px, 400, 20px);
    font-family: var(--main-font);
    font-style: normal;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    cursor: pointer;
    color: var(--color-active-icon);

    &::placeholder {
        color: rgba(255, 255, 255, 0.6);
    }
}

.subscription__btn {
    position: relative;
    width: 200px;
    height: 50px;
    background: var(--accent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    padding-left: 29px;

    @include font(16px, 700, 30px);
    font-family: var(--main-font);
    font-style: normal;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: var(--color-active-icon);
    cursor: pointer;

    &::after {
        content: "";
        display: inline-block;
        margin-left: 10px;
        width: 24px;
        height: 24px;
        background-image: url(../images/icon/send.svg);
        background-size: contain;
        background-repeat: no-repeat;
        background-origin: border-box;
    }
}

// .subscription-icon {
//     position: absolute;
//     top: 50%;
//     right: 28px;
//     transform: translateY(-50%);
//     fill: var(--color-active-icon);

// }