.title {
    @include font(28px, 700, 33px);
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: var(--margin-bottom-title-mobile);
}

@media screen and (min-width: 1200px) {
.title {
    @include font(36px, 700, 42px);

    .clients>.container & {
        margin-bottom: var(--margin-bottom-title);
    }

    .team>.container &,
    .work>.container & {
        margin-bottom: var(--margin-bottom-title);
    }
}
}