.container {
    padding-left: 15px;
    padding-right: 15px; 
   
    .header__& {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .navigation-projects__& {
    display: flex;
    justify-content: center;
    }
}

@media screen and (min-width: 480px) {
    .container {
        width: 480px;
        margin: 0 auto;
    }
}

@media screen and (min-width: 768px) {
    .container {
        width: 768px;
    }
}

@media screen and (min-width: 1200px) {
.container {
             width: 1200px;
             margin: 0 auto;
             padding-left: 15px;
             padding-right: 15px;

             .footer & {
                 display: flex;
                 align-items: baseline;
             }

             .hero & {
                 align-items: center;
             }

             .priorities & {
                 display: flex;
             }

             .team &,
             .work & {
                 align-items: center;
             }
         }
}