:root {
    --main-font: Roboto, sans-serif;
    --secondary-font: Raleway, sans-serif;
    --main-color: #212121;
    --secondary-color: #757575;
    --accent-color: #2196F3;
    --overlay-color: rgba(33, 150, 243, 0.9);
    --color-active-icon: #fff;
    --margin-bottom-title: 50px;
    --padding-top-section: 94px;
    --padding-bottom-section: 94px;
    --margin-left-top: 30px;
}
